.about-escort-container {
    display: flex;
    color: white;
    font-size: 14px;
    .about-me{
        margin-left: 60px;
        background-color: black;
        height: 400px;
        width: 800px;
        border-radius: 4px;
        .about-me-container {
            margin-right: 30px;
            margin-left: 20px;
            margin-top: 30px;
        }
    }
    .my-details{
        display:  flex;
        flex-direction: column;
        background-color: black;
        margin-left: 30px;
        border-radius: 4px;
        .details-container{
            margin-right: 30px;
            margin-left: 20px;
            margin-top: 30px;
            table{
                margin-right: 20px;
                margin-top: 20px;
                tr{
                    height: 40px;
                    th{
                        width: 150px;
                        color: gray;
                    }
                }
            }
        }
        
    }
    .social-media-links{
        margin-right: 30px;
        margin-left: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
            table{
                height: auto;
                width: 100%;
                tr{
                    height: 50px;
                    border-bottom: 0.5px solid gray
                }
                th{
                    width: 25px;
                    font-size: 12px;
                }
            }
    }
    .contact-details-container {
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 5px;
        background-color: black;
        border-radius: 4px;
        .contact-details {
            margin-right: 30px;
            margin-left: 20px;
            padding-top: 20px;
            padding-bottom: 10px;
            h5{
                padding-bottom: 10px;
            }
            span{
                color: #eebd22;
            }
        }   
    }
}