
.nav{
    font-size: 15px;
    border-bottom: 1px solid #64470b;
    background-color: #000 !important;
        .logo{
        width: 183px;
     height: 26px;
    }
    .mr-auto{
        .menu {
            padding-right: 20px;
            color: white;
            font-size: 15px;
        }
        .menu:hover {
            border: 1px solid;
            border-radius: 2px;
            color: #eebd22;;
            font-size: 15px;
            height: auto;
        }
    }
    
}

