@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
$font: 'Ubuntu', sans-serif;
body {
  padding: 0 0 0 0;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  background-color: #242424;
}